USE [master]
GO

/****** Object:  Database [TimeMachine]    Script Date: 14/05/2020 21:01:41 ******/
CREATE DATABASE [TimeMachine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TimeMachine', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2K14\MSSQL\DATA\TimeMachine.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TimeMachine_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2K14\MSSQL\DATA\TimeMachine_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TimeMachine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [TimeMachine]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/************************************************************/
/* RULE: tmBool												*/
/************************************************************/
CREATE RULE [dbo].[tmBool] 
AS
@value = 'true' OR
@value = 'false'
GO

/************************************************************/
/* TYPE: tmBool												*/
/************************************************************/
CREATE TYPE [dbo].[tmBool] FROM [nvarchar](5) NULL
GO

/************************************************************/
/* TABLE: IMAGES										*/
/************************************************************/
CREATE TABLE [dbo].[IMAGES](
	[UID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[IMAGE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_IMAGES] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/************************************************************/
/* TABLE: TILE_TYPES										*/
/************************************************************/
CREATE TABLE [dbo].[TILE_TYPES](
	[UID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[IMAGE] [nvarchar](255) NOT NULL,
	[CUTVIEW] [dbo].[tmBool] NOT NULL,
	[DARKNESS] int NOT NULL,
	[TRASPASSABLE] [dbo].[tmBool] NOT NULL,
 CONSTRAINT [PK_TIPOS_DE_TILES] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


/************************************************************/
/* TABLE: TILES												*/
/************************************************************/
CREATE TABLE [dbo].[TILES](
	[UID] [uniqueidentifier] NOT NULL,
	[ROOM_TILE_GRID_X] int NOT NULL,
	[ROOM_TILE_GRID_Y] int NOT NULL,
	[TYPE_DEFINITION] [uniqueidentifier] NOT NULL,
	[IMAGE] [nvarchar](255) NOT NULL,
	[CUTVIEW] [dbo].[tmBool] NOT NULL,
	[DARKNESS] int NOT NULL,
	[TRASPASSABLE] [dbo].[tmBool] NOT NULL,
 CONSTRAINT [PK_TILES] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[TILES]  WITH NOCHECK ADD  CONSTRAINT [FK_TILE_TYPES] FOREIGN KEY([TYPE_DEFINITION])
REFERENCES [dbo].[TILE_TYPES] ([UID])
GO

ALTER TABLE [dbo].[TILES] CHECK CONSTRAINT [FK_TILE_TYPES]
GO

/************************************************************/
/* TABLE: OBJECT_PART_TYPES									*/
/************************************************************/
CREATE TABLE [dbo].[OBJECT_PART_TYPES](
	[UID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,	
	[IMAGE] [nvarchar](255) NOT NULL,
	[PV] int NOT NULL,	
	[INVULNERABLE] [dbo].[tmBool] NOT NULL,
	[CUTVIEW] [dbo].[tmBool] NOT NULL,
	[LIGHTNING] int NOT NULL,
	[LIGHTNING_TILES] int NOT NULL,
	[LIGHTNING_FACTOR] [nvarchar](10) NOT NULL,	
	[LIGHTSWITCH] [dbo].[tmBool] NOT NULL,
	[TRASPASSABLE] [dbo].[tmBool] NOT NULL,
 CONSTRAINT [PK_OBJECT_PART_TYPES] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/************************************************************/
/* TABLE: OBJECT_TYPES									*/
/************************************************************/
CREATE TABLE [dbo].[OBJECT_TYPES](
	[UID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,		
	[PV] int NOT NULL,	
	[INVULNERABLE] [dbo].[tmBool] NOT NULL,	
 CONSTRAINT [PK_OBJECT_TYPES] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


/************************************************************/
/* TABLE: OBJECT PARTS										*/
/************************************************************/
CREATE TABLE [dbo].[OBJECT_PARTS](
	[UID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,	
	[ROOM_TILE_GRID_X] int NOT NULL,
	[ROOM_TILE_GRID_Y] int NOT NULL,
	[TYPE_DEFINITION] [uniqueidentifier] NOT NULL,
	[IMAGE] [nvarchar](255) NOT NULL,
	[PV] int NOT NULL,	
	[INVULNERABLE] [dbo].[tmBool] NOT NULL,
	[CUTVIEW] [dbo].[tmBool] NOT NULL,
	[LIGHTNING] int NOT NULL,
	[LIGHTNING_TILES] int NOT NULL,
	[LIGHTNING_FACTOR] [nvarchar](10) NOT NULL,	
	[LIGHTSWITCH] [dbo].[tmBool] NOT NULL,
	[LIGHTSWITCH_STATUS] [dbo].[tmBool] NOT NULL,
	[TRASPASSABLE] [dbo].[tmBool] NOT NULL,
 CONSTRAINT [PK_OBJECT_PARTS] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [dbo].[OBJECT_PARTS]  WITH NOCHECK ADD  CONSTRAINT [FK_OBJECT_PART_TYPES] FOREIGN KEY([TYPE_DEFINITION])
REFERENCES [dbo].[OBJECT_PART_TYPES] ([UID])
GO

ALTER TABLE [dbo].[OBJECT_PARTS] CHECK CONSTRAINT [FK_OBJECT_PART_TYPES]
GO

/************************************************************/
/* TABLE: OBJECTS											*/
/************************************************************/
CREATE TABLE [dbo].[OBJECTS](
	[UID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[ROOM_TILE_GRID_X] int NOT NULL,
	[ROOM_TILE_GRID_Y] int NOT NULL,
	[TYPE_DEFINITION] [uniqueidentifier] NOT NULL,
	[PV] int NOT NULL,	
	[INVULNERABLE] [dbo].[tmBool] NOT NULL,
 CONSTRAINT [PK_OBJECTS] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [dbo].[OBJECTS]  WITH NOCHECK ADD  CONSTRAINT [FK_OBJECT_TYPES] FOREIGN KEY([TYPE_DEFINITION])
REFERENCES [dbo].[OBJECT_TYPES] ([UID])
GO

ALTER TABLE [dbo].[OBJECTS] CHECK CONSTRAINT [FK_OBJECT_TYPES]
GO


/************************************************************/
/* TABLE: REL_OBJECTS_AND_PARTS	(1-OBJECT N-PARTS)			*/ 
/************************************************************/
CREATE TABLE [dbo].[REL_OBJECTS_AND_PARTS](
	[OBJECT] [uniqueidentifier] NOT NULL,
	[OBJECT_PART] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_REL_OBJECTS_AND_PARTS] PRIMARY KEY CLUSTERED 
(
	[OBJECT] ASC,
	[OBJECT_PART] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE UNIQUE NONCLUSTERED INDEX [ONE_PROPIETARY_FOR_OBJECT_PART] ON [dbo].[REL_OBJECTS_AND_PARTS]
(
	[OBJECT_PART] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO

ALTER TABLE [dbo].[REL_OBJECTS_AND_PARTS]  WITH NOCHECK ADD  CONSTRAINT [FK_OBJECT] FOREIGN KEY([OBJECT])
REFERENCES [dbo].[OBJECTS] ([UID])
GO

ALTER TABLE [dbo].[REL_OBJECTS_AND_PARTS] CHECK CONSTRAINT [FK_OBJECT]
GO

ALTER TABLE [dbo].[REL_OBJECTS_AND_PARTS]  WITH NOCHECK ADD  CONSTRAINT [FK_OBJECT_PART] FOREIGN KEY([OBJECT_PART])
REFERENCES [dbo].[OBJECT_PARTS] ([UID])
GO

ALTER TABLE [dbo].[REL_OBJECTS_AND_PARTS] CHECK CONSTRAINT [FK_OBJECT_PART]
GO

/************************************************************/
/* TABLE: PLAYER_IMAGES										*/
/************************************************************/
CREATE TABLE [dbo].[PLAYER_IMAGES](
	[UID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[IMAGE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_PLAYER_IMAGES] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/************************************************************/
/* TABLE: PLAYER_ANIMATIONS									*/
/************************************************************/
CREATE TABLE [dbo].[ANIMATIONS](
	[UID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ANIMATIONS] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/************************************************************/
/* TABLE: PLAYER_ANIMATION_IMAGES                           */
/************************************************************/
CREATE TABLE [dbo].[PLAYER_ANIMATION_IMAGES](
	[ANIMATION] [uniqueidentifier] NOT NULL,
	[IMAGE] [uniqueidentifier] NOT NULL,
	[STEP] int NOT NULL)

ALTER TABLE [dbo].[PLAYER_ANIMATION_IMAGES]  WITH NOCHECK ADD  CONSTRAINT [FK_ANIMATION] FOREIGN KEY([ANIMATION])
REFERENCES [dbo].[ANIMATIONS] ([UID])
GO

ALTER TABLE [dbo].[PLAYER_ANIMATION_IMAGES] CHECK CONSTRAINT [FK_ANIMATION]
GO

ALTER TABLE [dbo].[PLAYER_ANIMATION_IMAGES]  WITH NOCHECK ADD  CONSTRAINT [FK_IMAGE] FOREIGN KEY([IMAGE])
REFERENCES [dbo].[PLAYER_IMAGES] ([UID])
GO

ALTER TABLE [dbo].[PLAYER_ANIMATION_IMAGES] CHECK CONSTRAINT [FK_IMAGE]
GO

/************************************************************/
/* TABLE: PLAYERS											*/
/************************************************************/
CREATE TABLE [dbo].[PLAYERS](
	[UID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,	
	[ROOM_TILE_GRID_X] int NOT NULL,
	[ROOM_TILE_GRID_Y] int NOT NULL,
	[MOVEMENT_SPEED] [nvarchar](10) NOT NULL,
	[MOVEMENT] int NOT NULL,
	[MOVEMENT_TIMESTAMP] [datetime2] NOT NULL,
	[MOVED] [dbo].[tmBool] NOT NULL,
	[FACING] int NOT NULL,
	[FACING_TIMESTAMP] [datetime2] NOT NULL,
	[INITIATIVE] int NOT NULL,
	[LIGHTNING] int NOT NULL,
	[LIGHTNING_TILES] int NOT NULL,
	[LIGHTNING_FACTOR] [nvarchar](10) NOT NULL,	
	[ATTACK_SPEED] [nvarchar](10) NOT NULL,
	[ATTACK_TIMESTAMP] [datetime2] NOT NULL, 
	[ATTACKED] [dbo].[tmBool] NOT NULL,
	[INTERACT_TIMESTAMP] [datetime2] NOT NULL,
	[ANIMATION_LEFT] [uniqueidentifier] NOT NULL, 
	[ANIMATION_RIGHT] [uniqueidentifier] NOT NULL, 
	[ANIMATION_UP] [uniqueidentifier] NOT NULL, 
	[ANIMATION_DOWN] [uniqueidentifier] NOT NULL, 
	[IMAGE_LEFT] [uniqueidentifier] NOT NULL, 
	[IMAGE_RIGHT] [uniqueidentifier] NOT NULL, 
	[IMAGE_UP] [uniqueidentifier] NOT NULL, 
	[IMAGE_DOWN] [uniqueidentifier] NOT NULL, 
 CONSTRAINT [PK_PLAYERS] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [dbo].[PLAYERS]  WITH NOCHECK ADD  CONSTRAINT [FK_ANIMATION_LEFT] FOREIGN KEY([ANIMATION_LEFT])
REFERENCES [dbo].[ANIMATIONS] ([UID])
GO

ALTER TABLE [dbo].[PLAYERS] CHECK CONSTRAINT [FK_ANIMATION_LEFT]
GO

ALTER TABLE [dbo].[PLAYERS]  WITH NOCHECK ADD  CONSTRAINT [FK_ANIMATION_RIGHT] FOREIGN KEY([ANIMATION_RIGHT])
REFERENCES [dbo].[ANIMATIONS] ([UID])
GO

ALTER TABLE [dbo].[PLAYERS] CHECK CONSTRAINT [FK_ANIMATION_RIGHT]
GO

ALTER TABLE [dbo].[PLAYERS]  WITH NOCHECK ADD  CONSTRAINT [FK_ANIMATION_UP] FOREIGN KEY([ANIMATION_UP])
REFERENCES [dbo].[ANIMATIONS] ([UID])
GO

ALTER TABLE [dbo].[PLAYERS] CHECK CONSTRAINT [FK_ANIMATION_UP]
GO

ALTER TABLE [dbo].[PLAYERS]  WITH NOCHECK ADD  CONSTRAINT [FK_ANIMATION_DOWN] FOREIGN KEY([ANIMATION_DOWN])
REFERENCES [dbo].[ANIMATIONS] ([UID])
GO

ALTER TABLE [dbo].[PLAYERS] CHECK CONSTRAINT [FK_ANIMATION_DOWN]
GO

ALTER TABLE [dbo].[PLAYERS]  WITH NOCHECK ADD  CONSTRAINT [FK_IMAGE_LEFT] FOREIGN KEY([IMAGE_LEFT])
REFERENCES [dbo].[PLAYER_IMAGES] ([UID])
GO

ALTER TABLE [dbo].[PLAYERS] CHECK CONSTRAINT [FK_IMAGE_LEFT]
GO

ALTER TABLE [dbo].[PLAYERS]  WITH NOCHECK ADD  CONSTRAINT [FK_IMAGE_RIGHT] FOREIGN KEY([IMAGE_RIGHT])
REFERENCES [dbo].[PLAYER_IMAGES] ([UID])
GO

ALTER TABLE [dbo].[PLAYERS] CHECK CONSTRAINT [FK_IMAGE_RIGHT]
GO

ALTER TABLE [dbo].[PLAYERS]  WITH NOCHECK ADD  CONSTRAINT [FK_IMAGE_UP] FOREIGN KEY([IMAGE_UP])
REFERENCES [dbo].[PLAYER_IMAGES] ([UID])
GO

ALTER TABLE [dbo].[PLAYERS] CHECK CONSTRAINT [FK_IMAGE_UP]
GO

ALTER TABLE [dbo].[PLAYERS]  WITH NOCHECK ADD  CONSTRAINT [FK_IMAGE_DOWN] FOREIGN KEY([IMAGE_DOWN])
REFERENCES [dbo].[PLAYER_IMAGES] ([UID])
GO

ALTER TABLE [dbo].[PLAYERS] CHECK CONSTRAINT [FK_IMAGE_DOWN]
GO
