-- QUERY PLAYER INFO

/*DEBUG*/
DECLARE @player AS uniqueidentifier
SET @player = 'E8B6D65A-AA79-4C7A-8C07-F8B064F60D74'
/*FIN DEBUG*/

DECLARE @X AS INT
DECLARE @Y AS INT

SELECT @X = ROOM_TILE_GRID_X, @Y = ROOM_TILE_GRID_Y FROM PLAYERS WHERE UID = @player

DECLARE @POSITION AS nvarchar(128)
SET @POSITION = 'Nothing'
SELECT 
		@POSITION = '(' + OBJ.NAME + ') ' + OP.NAME 
FROM 
	OBJECT_PARTS OP
	INNER JOIN REL_OBJECTS_AND_PARTS REL ON OP.UID = REL.OBJECT_PART
	INNER JOIN [OBJECTS] OBJ ON REL.OBJECT = OBJ.UID
WHERE 
	OP.ROOM_TILE_GRID_X = @X AND 
	OP.ROOM_TILE_GRID_Y = @Y

DECLARE @NORTH AS nvarchar(128)
SET @NORTH = 'Nothing'
SELECT 
		@NORTH = '(' + OBJ.NAME + ') ' + OP.NAME 
FROM 
	OBJECT_PARTS OP
	INNER JOIN REL_OBJECTS_AND_PARTS REL ON OP.UID = REL.OBJECT_PART
	INNER JOIN [OBJECTS] OBJ ON REL.OBJECT = OBJ.UID
WHERE 
	OP.ROOM_TILE_GRID_X = @X AND 
	OP.ROOM_TILE_GRID_Y = (@Y - 1)

DECLARE @SOUTH AS nvarchar(128)
SET @SOUTH = 'Nothing'
SELECT 
		@SOUTH = '(' + OBJ.NAME + ') ' + OP.NAME 
FROM 
	OBJECT_PARTS OP
	INNER JOIN REL_OBJECTS_AND_PARTS REL ON OP.UID = REL.OBJECT_PART
	INNER JOIN [OBJECTS] OBJ ON REL.OBJECT = OBJ.UID
WHERE 
	OP.ROOM_TILE_GRID_X = @X AND 
	OP.ROOM_TILE_GRID_Y = (@Y + 1)

DECLARE @WEST AS nvarchar(128)
SET @WEST = 'Nothing'
SELECT 
		@WEST = '(' + OBJ.NAME + ') ' + OP.NAME 
FROM 
	OBJECT_PARTS OP
	INNER JOIN REL_OBJECTS_AND_PARTS REL ON OP.UID = REL.OBJECT_PART
	INNER JOIN [OBJECTS] OBJ ON REL.OBJECT = OBJ.UID
WHERE 
	OP.ROOM_TILE_GRID_X = (@X - 1) AND 
	OP.ROOM_TILE_GRID_Y = @Y

DECLARE @EAST AS nvarchar(128)
SET @EAST = 'Nothing'
SELECT 
		@EAST = '(' + OBJ.NAME + ') ' + OP.NAME 
FROM 
	OBJECT_PARTS OP
	INNER JOIN REL_OBJECTS_AND_PARTS REL ON OP.UID = REL.OBJECT_PART
	INNER JOIN [OBJECTS] OBJ ON REL.OBJECT = OBJ.UID
WHERE 
	OP.ROOM_TILE_GRID_X = (@X + 1) AND 
	OP.ROOM_TILE_GRID_Y = @Y


SELECT @NORTH AS NORTH, @SOUTH AS SOUTH, @WEST AS WEST, @EAST AS EAST, @POSITION AS POSITION